{% extends 'base.html' %}

{% block internal_users %}
<div class="newletter-popup" style="left: 0px; position: absolute; top: 238.664px; z-index: 9999; opacity: 1; display: block;">
            <div id="popup2">
                <span class="b-close" onclick="location.href='/';"><span><i class="dlicon ui-1_simple-remove"></i></span></span>
            </div>
            <div class="popup-wrapper-all">
                <div class="popup-subscribe-area">
                    <span>Вход запрещён</span>
                    <h2>Авторизуйтесь за клиента</h2>
                </div>
                <div class="popup-image">
                    <img src="/static/img/bg/no-access.jpg" alt="banner">
                </div>
            </div>
        </div>

{% endblock %}
