<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base_menu</title>
    <link href="static/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <font>
        <h1 align="center"> Вам доступны следующие действия </h1>
        {% block internal_user %}{% endblock %}
        {% block external_user %}{% endblock %}
        {% block admin_user %}{% endblock %}

        <p align="bottom"> Здравствуйте, {% with messages = get_flashed_messages() %}
                                          {% if messages %}
                                            <ul class=flashes>
                                            {% for message in messages %}
                                              <font size="10"> {{ message }} </font>
                                            {% endfor %}
                                            </ul>
                                          {% endif %}
                                         {% endwith %} /p>
    </font>
</body>
</html>