<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Завершение работы</title>
    <link type=" text/css" rel="stylesheet" href="{{url_for('static', filename='app.css')}}">
    <style type="text/css">
        a {
        font-size  : 16pt;
        }
    </style>
</head>

<body>
    <h1 align = center> Вы успешно вышли из системы</h1>
    <br><br><br>
    <div align = center>
        <a href={{url_for('start_func')}}> Возврат на начальную страницу</a>
    </div>
</body>
</html>