<header class="main-header sticky">
			<a href="#menu" class="btn-mobile">
				<div class="hamburger hamburger--spin" id="hamburger">
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
			</a>
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-6">
						<div id="logo">
							<h1><a href="/">TOTO pizza</a></h1>
						</div>
					</div>
					<div class="col-lg-9 col-6">
						<nav class="main-menu">
						<ul id="menuIcons">
							<li><a class="btn btn-1" data-bs-toggle="collapse" href="#menu2" role="button" aria-expanded="false" style="padding-top: -2px; padding-bottom: 0px"> <i class="icon icon-menu"></i></a></li>
							<!-- Menu2 -->
							<div class="collapse" id="menu2" style="">
								<div id="orderContainer" class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
								<!-- Form -->
								<form method="POST" id="orderForm" name="orderForm" class="wizard-form wizard-branch wizard-wrapper fl-form fl-style-1" novalidate="" action="">
									<!-- Step 2: Checkout -->
									<div class="step wizard-step current" style="">
										<div class="order-header">
                                            {% if not(session.get('user_id')) %}
											    <h3>Авторизация</h3>
                                            {%  else %}
                                                <h3>Здравствуйте, {{ session.get('user_name') }}</h3>
                                            {%  endif  %}
										</div>
										<div id="personalDetails" data-return-url="/" data-currency="USD">
											<div class="order-body">
                                                {% if not(session.get('user_id')) %}
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<div class="fl-wrap fl-wrap-input fl-is-required">
                                                                <label for="login" class="fl-label">Логин</label>
                                                                <input id="login" class="form-control fl-input" name="login" type="text" data-parsley-pattern="^[a-zA-Z\s.\_]+$" placeholder="Логин"></div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<div class="fl-wrap fl-wrap-input fl-is-required">
                                                                <label for="password" class="fl-label">Пароль</label>
                                                                <input id="password" class="form-control fl-input" name="password" type="text" placeholder="Пароль"></div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<button type="submit" name="submit" id="submitOrder" class="btn-form-func">
															<span class="btn-form-func-content">Подтвердить</span>
															<span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
														</button>
													</div>
												</div>
                                                {%  endif %}
												<div class="row">
													<div class="col-md-12">
                                                        <button type="button" name="exit" class="btn-form-func btn-form-func-alt-color backward" onclick="location.href='/exit';">
                                                            <span class="btn-form-func-content">Выйти</span></a>
                                                            <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                                                        </button>
													</div>
												</div>
												<div class="row footer">
													<div class="col-md-12 text-center">
														<small>Toto pizza incorporated</small>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Step 2: Checkout End -->
								</form>
								<!-- Form End -->
							</div>
							<!-- Menu2 End -->
							</div>
						</ul>
						</nav>
						<!-- Menu -->
						<nav id="menu" class="main-menu">
						<ul>
							<li><span><a href="/">На главную</a></span></li>
							<li>
								<span><a href="#">Сделать заказ <i class="fa fa-chevron-down"></i></a></span>
								<ul>
									<li>
										<span><a href="/order">Оплата наличными</a></span>
									</li>
								</ul>
							</li>
							<li><span><a href="/faq">FAQ</a></span></li>
							<li><span><a href="/contacts">Контакты</a></span></li>
						</ul>
						</nav>
						<!-- Menu End -->
					</div>
				</div>
			</div>
            <script src="../static/pay-with-cash-on-delivery/assets/js/order.js"></script>
		</header>